[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
marshmallow = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-jwt-extended = "*"
googlemaps = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
